@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
}

.overlay {
  min-height: 100vh;
  background-color: hsla(220, 13%, 18%, 0.6);
  z-index: 10;
}

.app-container {
  text-align: left;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  // align-items: top;
  // background-color: black;
  justify-content: flex-start;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  // min-height: 40vh;
  text-align: right;
  padding: 1rem;
  color: white;
  font-size: calc(10px + 2vmin);
}

a {
  color: #ffd21d;
  text-decoration: none;
}

.header-container {
  background-image: url("https://johnbartmann.com/getjohnnyjazz/resources/header-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 15vh;
  width: "100%";
  // height: 30vh;
  // padding: 0.5em;
  border-bottom: 2px solid #ffd21d;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
}

.header-title {
  padding-right: 0.5rem;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffd21d;
}

.insta-container {
  height: 100vh;
  border: 1px solid #ffd21d;
  border-radius: 5px;
  background-color: hsla(220, 220, 220, 0.5);
}

.insta-container::-webkit-scrollbar {
  display: none;
}

.video {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  z-index: -1;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.cta-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial;
  border-radius: 0.5rem;
  background-color: #00a8c5;
  padding: 1.5rem;
  color: #ffd21d;
  border: 1px solid #ffd21d;
}

.bouncer {
  display: flex;
  align-items: center;
  animation-duration: 1200ms;
  animation-name: bouncer;
  animation-iteration-count: infinite;
}

@keyframes bouncer {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
}

// media queries

@media (min-width: 802px) {
  .insta-container {
    height: 70vh;
  }

  .video {
    object-fit: contain;
    background-repeat: none;
    background-image: url("https://getjohnnyjazz.com/resources/jj-hero.jpg");
    background-size: cover;
    // background-position: 30vw;
  }
}
